<div class="container">
    <h2>Editar Evento</h2>
    <div class="form-container">
      <form [formGroup]="editarForm" (ngSubmit)="editar()">
        <div class="form-group">
          <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre" />
        </div>
        <div class="form-group">
          <input type="date" id="fecha" formControlName="fecha" />
        </div>
        <div class="form-group">
          <input type="text" id="ubicacion" formControlName="ubicacion" placeholder="Ubicación" />
        </div>
        <div class="form-group">
          <textarea id="descripcion" formControlName="descripcion" placeholder="Descripción"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="!editarForm.valid">Guardar Cambios</button>
        </div>
      </form>
    </div>
   
</div>