<div class="miPerfil-container">

    <h2>Mi Perfil</h2>

    @if(perfil){
      <div class="coneteiner" >
      
  
          <div class="datosUsuario">
              <div class="imagenUsuario">
                  <img src= "/assets/img/logos/Ges_logo.png" alt="imagen de usuario" />
              </div>
              <div class="datos">
                  <div class="dato">
                      <h6>Nombre y Apellido:</h6>
                      <p>{{ perfil.nombre }}</p>
                  </div>
                  <div class="dato">
                      <h6>Domicilio:</h6>
                      <p>{{ perfil.domicilio }}</p>
                  </div>
                  <div class="dato">  
                      <h6>Email:</h6>
                      <p>{{ perfil.email }}</p>
                  </div>
                  <div class="dato">
                      <h6>Username:</h6>
                     <p>{{ perfil.username }}</p>
                  </div>
                
              </div>
          </div>
        </div>
    
    }
    @else {
      <h1>No se encontraron datos</h1>
    }



</div>
