<div class="navbar-container">
  
    <div class="imagen">
      <img
        src="/assets/img/logos/Ges_logo.png"
        alt="logo"
        width="80px"
        height="80px"
      />
    </div>

    @if(isLoggedIn()){
      <div class="botones">
        <mat-nav-list class="menu_lista">
          <a mat-list-item  routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page">
            
            <span>Inicio</span>
          </a>
          <a mat-list-item routerLink="/nuevo">
            <span>Nuevo Evento</span>
          </a>
          <a mat-list-item routerLink="/mis-eventos">
            <span>Mis Eventos</span>
          </a>
          <a mat-list-item routerLink="/mi-perfil">
            <span>Mi Perfil</span>
          </a>
          <a mat-list-item routerLink="/mis-certificados">
            <span>Mis Certificados</span>
          </a>
          <a mat-list-item href="#" (click)="logout()">
            <span>Cerrar Sesion</span>
          </a>
        </mat-nav-list>
      </div>
      <div id="div_menu_buscador" >
      
      </div>
  
    }@else{
      <div class="botones">
        <mat-nav-list class="menu_lista">
          <a mat-list-item routerLink="/login">
            <span>Iniciar Sesion</span>
          </a>
          <a mat-list-item routerLink="/registro">
            <span>Registrarse</span>
          </a>
        </mat-nav-list>
      </div>
    }

</div>
