.footer-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #47466d ;
    color: #fff;
    padding: 20px;
}

.footer-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.footer-logo img{
    width: 80px;
    height: 80px;
    
}



.footer-links a{
    color: #fff;
}
.footer-div-texto{
   
    text-align: center;
    padding: 20px;
}


.footer-links i{
    font-size: 24px;
    margin: 0 10px;
}