<div class="container">
    @if(evento){
        <div class="card-detalle-evento" >
            <div class="card-detalles">
                 <div class="imagen">
                <img [src]="API_BASE_URL + evento.fotoRuta" alt="Imagen del evento" >
            </div>
    

            <div class="detalle">
                <div class="detalle-evento">
                    <h2>{{ evento.nombre }}</h2>
                    <p>Fecha: {{ evento.fecha }}</p>
                    <p>Ubicacion: {{ evento.ubicacion }}</p>
                    <p>Descripcion: {{ evento.descripcion }}</p>
                   
                </div>
            </div>
             <div class="card-acciones">
                @if(esOrganizador){
                    <button  mat-raised-button   color="primary"  (click)="abrirModal(modalAsistentes)"> Ver Participantes</button>
             
                }
                @else {
                    <button  mat-raised-button color="primary" (click)="participar()"> {{ participando ? 'Participando' : 'Participar' }}</button>
                }
                <button mat-raised-button color="warn" routerLink="/home">Volver</button>
            </div>
            </div>
        </div>
    }

    <ng-template #modalAsistentes>
        <h2>Lista de Asistentes</h2>
        @for(asistente of listaAsistentes; track $index){
            <div>
                <label>
                  <input type="checkbox"  (change)="seleccionarAsistente(asistente.idAsistente)"/> 
                  {{ asistente.nombre }}
                </label>
              </div>
        }
        <button  mat-button (click)="guardarAsistencia()">Guardar Cambios</button>
        <button mat-button (click)="cerrarModal()">Cerrar</button>
    </ng-template>
            

    
      
</div>